* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);

  /* fonts */
  --font-family: 'League Spartan', sans-serif;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
}

html {
  font-family: var(--font-family);
  font-size: 15px;
}

body {
  min-height: 100vh;
  background-image: url('../images/bg-pattern-top-mobile.svg'),
    url('../images/bg-pattern-bottom-mobile.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
  background-color: var(--white);
}

.social-proof {
  padding: 6rem 1.5rem 2rem;
}

.social-proof__header {
  margin-bottom: 3rem;
}

.social-proof__header-content {
  max-width: 320px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}

.social-proof__title {
  color: var(--very-dark-magenta);
  font-weight: var(--fw-bold);
  font-size: 2.7rem;
  line-height: 0.8;
  letter-spacing: -0.5px;
  margin-bottom: 1.5rem;
}

.social-proof__description {
  color: var(--dark-grayish-magenta);
  font-weight: var(--fw-medium);
  font-size: 1.2rem;
  line-height: 1.3;
}

.rated-list {
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.rated-list__item {
  background-color: var(--light-grayish-magenta);
  border-radius: 0.5rem;
  padding: 1rem 0;
}

.rated-list__stars {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.rated-list__text {
  color: var(--very-dark-magenta);
  font-weight: var(--fw-bold);
  font-size: 1.1rem;
}