* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Typography */
  --font-poppins: "Poppins", sans-serif;
  /* Primary Colors */
  --color-red: hsl(0, 78%, 62%);
  --color-cyan: hsl(180, 62%, 55%);
  --color-orange: hsl(34, 97%, 64%);
  --color-blue: hsl(212, 86%, 64%);
  /* Neutral Colors */
  --color-grey-500: hsl(234, 12%, 34%);
  --color-grey-400: hsl(212, 6%, 44%);
  --color-white: hsl(0, 0%, 100%);
}

html {
  font-size: 15px;
  font-family: var(--font-poppins);
}

body {
  background-color: #fafafa;
  width: 80%;
  margin: 4rem auto 2rem;
}
.header {
  text-align: center;
  margin-bottom: 3rem;
}
.header__eyebrow {
  font-size: 1.5rem;
  font-weight: 200;
  color: var(--color-grey-400);
  letter-spacing: 0.05rem;
}

.header__title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-grey-500);
  letter-spacing: 0.075rem;
  margin-bottom: 1rem;
}

.header__description {
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-grey-400);
  /* letter-spacing: 0.075rem; */
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.footer__attribution {
  font-size: 11px;
  text-align: center;
}

.footer__attribution a {
  color: hsl(228, 45%, 44%);
}