* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Typography */
  --font-poppins: "Poppins", sans-serif;
  /* Primary Colors */
  --color-red: hsl(0, 78%, 62%);
  --color-cyan: hsl(180, 62%, 55%);
  --color-orange: hsl(34, 97%, 64%);
  --color-blue: hsl(212, 86%, 64%);
  /* Neutral Colors */
  --color-grey-500: hsl(234, 12%, 34%);
  --color-grey-400: hsl(212, 6%, 44%);
  --color-white: hsl(0, 0%, 100%);
   /* Spacing */
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-xxl: 4rem;
  /* Border radius */
  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 1rem;
}

html {
  font-size: 15px;
  font-family: var(--font-poppins);
  scroll-behavior: smooth;
}

body {
  background-color: #fafafa;
  width: 83%;
  margin: var(--space-xxl) auto var(--space-lg);
}

.header {
  text-align: center;
  margin-bottom: var(--space-xl);
}

.header__eyebrow {
  font-size: 1.5rem;
  font-weight: 200;
  color: var(--color-grey-400);
  letter-spacing: 0.05rem;
}

.header__title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-grey-500);
  letter-spacing: 0.075rem;
  margin-bottom: var(--space-sm);
}

.header__description {
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-grey-400);
}

.tools {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  margin-bottom: var(--space-sm);
}

.card {
  background-color: var(--color-white);
  padding: var(--space-lg) 2.25rem;
  border-radius: var(--radius-md);
  box-shadow: 0 15px 30px -10px rgba(131, 166, 210, 0.25);
}

.card--cyan {
  border-top: 4px solid var(--color-cyan);
}

.card--red {
  border-top: 4px solid var(--color-red);
}

.card--orange {
  border-top: 4px solid var(--color-orange);
}

.card--blue {
  border-top: 4px solid var(--color-blue);
}

.card__header {
  margin-bottom: var(--space-xs);
}

.card__title {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--color-grey-500);
}

.card__description {
  font-size: 0.85rem;
  font-weight: 400;
  color: var(--color-grey-400);
}

.card__icon {
  display: block;
  margin-left: auto;
  margin-top: var(--space-lg);
  margin-bottom: var(--space-sm);
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.footer__attribution {
  font-size: 11px;
  text-align: center;
}

.footer__attribution a {
  color: hsl(228, 45%, 44%);
}

@media (width>=1440px) {
  body {
    width: 80%;
    margin: 6.5rem auto;
  }

  .header {
    margin-bottom: 4.5rem;
  }

  .header__eyebrow,
  .header__title {
    font-size: 2.5rem;
    letter-spacing: 0;
  }

  .header__title {
    line-height: 1.2;
  }

  .header__description {
    font-size: 1.1rem;
    width: 50%;
    margin: 0 auto;
    line-height: 1.2;
  }

  .tools {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 2.25rem;
    align-items: center;
  }

  .card {
    padding: 2.25rem;
  }

  .card--cyan {
    grid-column: 1;
    grid-row: 1 / span 2;
  }

  .card--blue {
    grid-column: 3;
    grid-row: 1 / span 2;
  }

  .card__description {
    letter-spacing: 0.5px;
  }
}