* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Primary colors */
  --color-purple-700: hsl(257, 40%, 49%);
  --color-magenta-400: hsl(300, 69%, 71%);
  --color-white: hsl(0, 0%, 100%);
  /* Typography */
  --font-poppins: "Poppins", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;
  --font-title-size: clamp(3rem, 4vw, 1.5rem);
  --font-description-size: clamp(2rem, 2vw, 1rem);
  --font-button-size: clamp(1.5rem, 2vw, 1rem);
  /* Spacing */
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-2xl: 4rem;
  --space-3xl: 7rem;
  /* Border radius */
  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 1rem;
  --radius-xl: 2rem;
  --radius-2xl: 3rem;
}

body {
  font-family: var(--font-open-sans);
  font-weight: 400;
  width: 80%;
  margin: 0 auto;
  background-color: var(--color-purple-700);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  min-height: 100vh;
  background-image: url(../images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}

.huddle-header__logo, .huddle-header__mockups {
  margin-bottom: var(--space-3xl);
}

.huddle-header__mockups img {
  width: 100%;
}

.huddle-content {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  text-align: center;
}

.huddle-content__title, .huddle-content__description {
  color: var(--color-white);
}

.huddle-content__title {
  font-family: var(--font-poppins);
  font-weight: 600;
  font-size: var(--font-title-size);
}

.huddle-content__description {
  font-family: var(--font-open-sans);
  font-weight: 400;
  font-size: var(--font-description-size);
  line-height: 1.6;
  margin-bottom: var(--space-sm);
}

.btn {
  width: 70%;
  margin: 0 auto;
  border: none;
}

.btn--primary {
  background-color: var(--color-white);
  color: var(--color-purple-700);
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.btn--large {
  border-radius: var(--radius-2xl);
  padding: var(--space-md) 0;
  font-family: var(--font-poppins);
  font-size: var(--font-button-size);
  font-weight: 400;
}

.huddle-main {
  margin-bottom: var(--space-3xl);
}

.huddle-social {
  display: flex;
  justify-content: center;
  gap: var(--space-md);
  margin-bottom: var(--space-sm);
}

.huddle-social__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--space-2xl);
  height: var(--space-2xl);
  border: 2px solid var(--color-white);
  border-radius: 50%;
  /* padding: var(--space-sm); */
  color: var(--color-white);
  text-decoration: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--color-white);
}