* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Primary colors */
  --color-purple-700: hsl(257, 40%, 49%);
  --color-magenta-400: hsl(300, 69%, 71%);
  --color-white: hsl(0, 0%, 100%);
  /* Typography */
  --font-poppins: "Poppins", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;
  --font-title-size: clamp(1.5rem, 3rem - 1vw, 3rem);
  --font-description-size: clamp(1.15rem, 2.5rem - 2vw, 2.5rem);
  --font-button-size: clamp(1.2rem, 2rem - 1vw, 2rem);

  /* Spacing */
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-2xl: 4rem;
  --space-3xl: 7rem;
  /* Border radius */
  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 1rem;
  --radius-xl: 2rem;
  --radius-2xl: 3rem;
}

body {
  font-family: var(--font-open-sans);
  font-weight: 400;
  background-image: url(../images/bg-mobile.svg);
  background-color: var(--color-purple-700);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.huddle-header {
  margin-bottom: 7.15rem;
}
.huddle-header__logo img {
  width: 258px;
}

.huddle-main {
  margin-bottom: 8rem;
}

.huddle-mockup {
  margin-bottom: var(--space-3xl);
}

.huddle-mockup img {
  width: 100%;
}

.huddle-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.huddle-content__title,
.huddle-content__description {
  color: var(--color-white);
}

.huddle-content__title {
  font-family: var(--font-poppins);
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 1.6rem;
}

.huddle-content__description {
  font-family: var(--font-open-sans);
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 1.6;
  margin-bottom: 3rem;
}

.btn {
  width: 70%;
  margin: 0 auto;
  border: none;
}

.btn--primary {
  background-color: var(--color-white);
  color: var(--color-purple-700);
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.btn--large {
  border-radius: var(--radius-2xl);
  padding: 1.4rem 0;
  font-family: var(--font-poppins);
  font-size: 1.4rem;
  font-weight: 400;
}

.huddle-social {
  display: flex;
  justify-content: center;
  gap: var(--space-md);
  margin-bottom: var(--space-sm);
}

.huddle-social__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  border: 2px solid var(--color-white);
  border-radius: 50%;
  color: var(--color-white);
  text-decoration: none;
}

.huddle-social__link i {
  font-size: 1.5rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--color-white);
}

@media (width>=1280px) {
  body {
    background-image: url(../images/bg-desktop.svg);
    background-position: left;
    min-height: 100vh;
  }

  .container {
    width: 90%;
    max-width: 1440px;
  }

  .huddle-header {
    margin-top: 3rem;
    margin-bottom: 5rem;
  }

  .huddle-header__logo img {
    width: 220px;
  }

  .huddle-main {
    display: flex;
    gap: 3rem;
    margin-bottom: 1rem;
  }

  .huddle-mockup {
    margin-bottom: 0;
  }

  .huddle-content {
    width: 40%;
    padding-top: 2.68rem;
    text-align: left;
  }

  .huddle-content__title {
    font-size: 2.4rem;
    line-height: 1.6;
    margin-bottom: 1rem;
  }

  .huddle-content__description {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 1.55rem;
  }

  .btn {
    margin: 0;
  }

  .btn--small {
    padding: 0.95rem 0;
    font-size: 1.1rem;
    width: 40%;
  }

  .huddle-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .huddle-social {
    gap: var(--space-sm);
  }

  .huddle-social__link {
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid var(--color-white);
    padding: var(--space-xs);
  }

  .huddle-social__link i {
    font-size: var(--fa-font-size-xl) !important;
  }
}