* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-montserrat: "Montserrat", sans-serif;
  --font-fraunces: "Fraunces", serif;
  --color-green-500: hsl(158, 36%, 37%);
  --color-green-700: hsl(158, 42%, 18%);
  --color-black: hsl(212, 21%, 14%);
  --color-grey: hsl(228, 12%, 48%);
  --color-cream: hsl(30, 38%, 92%);
  --color-white: hsl(0, 0%, 100%);
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;
}

body {
  background-color: var(--color-cream);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  min-height: 100vh;
  /* Fallback */
  gap: var(--spacing-md);
  padding: var(--spacing-sm);
}

.container {
  max-width: 350px;
  width: 100%;
}

.card {
  border-radius: var(--spacing-xs);
  overflow: hidden;
  background-color: var(--color-white);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

.card__image {
  width: 100%;
  height: auto;
  display: block;
}

.card__image-caption {
  display: none;
}

.card__body {
  padding: var(--spacing-lg);
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.card__header {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.card__category {
  text-transform: uppercase;
  font-family: var(--font-montserrat);
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--color-grey);
  letter-spacing: 0.3rem;
}

.card__title {
  font-family: var(--font-fraunces);
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-black);
  line-height: 1;
}

.card__description {
  font-size: 14px;
  font-family: var(--font-montserrat);
  font-weight: 500;
  color: var(--color-grey);
  line-height: 1.6;
}

.card__price-container {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

.card__price {
  color: var(--color-green-500);
  font-family: var(--font-fraunces);
  font-size: 2rem;
  font-weight: 700;
}

.card__original-price {
  color: var(--color-grey);
  text-decoration: line-through;
  font-family: var(--font-montserrat);
  font-weight: 500;
  font-size: 0.875rem;
}

.button {
  padding: var(--spacing-sm) 0;
  border-radius: var(--spacing-xs);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-xs);
}

.button--primary {
  background-color: var(--color-green-500);
  color: var(--color-white);
  width: 100%;
}

.button--primary:hover {
  background-color: var(--color-green-700);
  cursor: pointer;
}

.button--primary:focus {
  outline: 2px solid var(--color-green-700);
  outline-offset: 2px;
}

.button__icon {
  background-image: url(../images/icon-cart.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 15px;
  height: 16px;
  display: inline-block;
}

.button__text {
  font-family: var(--font-montserrat);
  font-weight: 700;
  font-size: 0.875rem;
}

/* Responsive breakpoint */
@media (width>=600px) {
  .container {
    max-width: 600px;
  }

  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "image body";
  }

  .card__image-container {
    grid-area: image;
  }

  .card__body {
    grid-area: body;
  }

}