/* Inter Font */
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype-variations');
  font-weight: 400 600 700;
  font-style: oblique -10deg 0deg;
}

/* Fallback for browsers that don't support variable fonts */
@font-face {
  font-family: 'Inter';
  src: url('../fonts/static/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/static/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/static/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-inter: 'Inter', sans-serif;
  --color-green: hsl(75, 94%, 57%);
  --color-white: hsl(0, 0%, 100%);
  --color-grey-700: hsl(0, 0%, 20%);
  --color-grey-800: hsl(0, 0%, 12%);
  --color-grey-900: hsl(0, 0%, 8%);
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;
  --spacing-xl: 2.5rem;
}

body {
  font-family: var(--font-inter);
  background-color: var(--color-grey-900);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-sm);
  min-height: 100dvh;
  min-height: 100vh;
}

.profile {
  max-width: 330px;
  width: 100%;
}

.profile__card {
  border-radius: var(--spacing-xs);
  overflow: hidden;
  background-color: var(--color-grey-800);
  padding: var(--spacing-md);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.profile__avatar {
  border-radius: 50%;
  overflow: hidden;
  width: 90px;
  height: 90px;
  margin: 0 auto;
  display: block;
}

.profile__info {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.profile__name {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-white);
}

.profile__location {
  color: var(--color-green);
  font-size: 14px;
  font-weight: 700;
}

.profile__bio {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-white);
  text-align: center;
  margin-top: var(--spacing-md);
}

.profile__link-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  list-style: none;
}

.profile__link {
  color: var(--color-white);
  text-decoration: none;
  text-align: center;
  background-color: var(--color-grey-700);
  padding: 0.8rem;
  display: block;
  border-radius: 0.5rem;
  font-weight: 700;
  font-size: 14px;
}

.attribution {
  color: var(--color-white);
}

@media (width>=480px) {
  .profile {
    max-width: 400px;
  }

  .profile__card {
    padding: var(--spacing-xl);
  }
}